@mixin transition($time: 0.3s, $property: all, $method: ease-in-out){
    -webkit-transition: $property $time $method;
    -moz-transition: $property $time $method;
    -o-transition: $property $time $method;
    transition: $property $time $method;
}
  
@mixin letter-spacing($spacing) {
    letter-spacing: ($spacing / 1000) * 1em;
}