$textColor: #000000;
$pathFonts: '../../fonts/';
$pathImages: '../../images/';
$fontSize: 16px;
$fontSizeL: 18px;
$fontSizeM: 14px;
$fontSizeS: 12px;
$fontLineHeight: 28px;
$colorBlue: #33CCFF;
$colorYellow: #F0D53E;